.hero {
    background-color: #222;
    color: #fff;
}

.hero .hero__container {
    text-align: center;
}

.hero .hero__container h4 {
    margin: 0.7rem auto 6rem;
}

.hero .hero__image {
    margin: 4rem auto;
}

.hero h4>a {
    color: #dcdcdc;
}